[Unit]
Description=krotoncheck

[Service]
ExecStart=/usr/bin/env node KROTONCHECK_ROOT_DIR/src/krotoncheck.js
Type=simple
User=krotoncheck
Group=krotoncheck
WorkingDirectory=KROTONCHECK_ROOT_DIR
Restart=always

[Install]
WantedBy=multi-user.target
