{
    "rules": {
        "indent": 0,
        "no-console": 0,
        "quotes": [
            2,
            "single",
            {"allowTemplateLiterals": true}
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
    },
    "env": {
        "node": true,
        "es2020": true,
    },
    "globals": {
        " (test runner) ": true,
        "describe": true,
        "it": true,
        "run": true,
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
    },
    "extends": "eslint:recommended"
}