{
    "rules": {
        "indent": 0,
        "no-console": 0,
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "comma-dangle": [
            2,
            "always-multiline"
        ],
    },
    "env": {
        "node": true,
    },
    "globals": {
    },
    "parserOptions": {
        "ecmaVersion": "6",
        "sourceType": "module",
    },
    "extends": "eslint:recommended"
}