.autorun_container {
	margin: 1em 0 2em 1em;
}

.autorun_container ul {
	margin: 0;
}
.autorun_container h3 {
	margin: 0;
}

.autorun_schedule {
	white-space: pre;
	background: #eee;
	font-family: monospace;
}

.autorun_delete_form,
.autorun_receiver_delete_form
{
	display: inline-block;
}


.jspreview {
	margin: 0.8em 0;
}
.jspreview .problems_maillist {
	background: #fafafa;
	padding: 0.1em 0.5em;
}
.jsplaintext_preview {
	font-family: monospace;
	white-space: pre-wrap;
	padding: 1.5em 0.5em;
	font-size: 70%;
	background: #fafafa;
}

.jspreview_show_link {
	color: #00e;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	margin-left: 0.8em;
	user-select: none;
}
.jspreview_show_link:hover {
	text-decoration: underline;
}

