body {
	font-size: 24px;
}

nav {
	display: block;
	width: 100%;
}
nav:after {
	clear: both;
	content: '';
	display: block;
}
.logged_in_as {
	float: right;
}
.breadcrumbs {
	float: left;
}

input,textarea,button {
	font-size: inherit;
}


.problem {
	display: block;
	margin: 1em 0 1em 0;
}
.problem_header {
	font-weight: bold;
}
.problems_maillist {
	font-size: 14px;
}
.problem_message {
	white-space: pre-wrap;
}

.hidden_link {
	text-decoration: none;
	color: inherit;
}

.ignore_button {
	padding: 0.06em 0.1em;
	font-size: 80%;
	cursor: pointer;
}

.email_preview {
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
.plaintext_preview {
	font-family: monospace;
	white-space: pre-wrap;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}

.stbstats_count,
.stbstats_median {
	text-align: right;
}
