body {
	font-size: 24px;
}

nav {
	display: block;
	width: 100%;
}
nav:after {
	clear: both;
	content: '';
	display: block;
}
.logged_in_as {
	float: right;
}
.breadcrumbs {
	float: left;
}

input,textarea,button {
	font-size: inherit;
}


a.problem {
	display: block;
	margin: 1em 0 1em 0;
	text-decoration: none;
	color: inherit;
}
.problem_header {
	font-weight: bold;
}