body {
	font-size: 24px;
}

nav {
	display: block;
	width: 100%;
}
nav:after {
	clear: both;
	content: '';
	display: block;
}
.logged_in_as {
	float: right;
}

input,textarea,button {
	font-size: inherit;
}
