

.season_add_dialog {
	margin: 1em 0 2em 0;
}
.season_add_dialog>* {
	display: block;
	margin: 0.5em 0;
}
.season_add_dialog>label>span {
	display: inline-block;
	min-width: 3em;
}

.season_info {
	margin: 0 0 1em 0;
}
.season_info > label {
	display: block;
}
.season_info > label > span {
	display: inline-block;
	min-width: 14em;
	margin-right: 0.5em;
}
textarea[name="qualifying_youth_groups"] {
	font-size: 12px;
	width: 250px;
}
textarea[name="sg_csv"] {
	font-size: 8px;
	width: 250px;
}

.receiver_delete_form {
	display: inline-block;
}
.receiver_filter {
	font-family: monospace;
}