{{#rendered}}
<h2>To: {{to}}</h2>

{{^empty}}
<div class="email_preview">
{{{body_html}}}
</div>
{{/empty}}
{{#empty}}
Keine Probleme - daher wird auch keine E-Mail verschickt.
{{/empty}}

{{/rendered}}

<form method="post" action="{{root_path}}s/{{key}}/send" style="margin-top: 2em">
{{{csrf_field}}}
<input type="hidden" name="message" value="{{message}}" />
<button role="submit">E-Mails senden</button>
</form>
