<script src="{{root_path}}static/cpreview.js"></script>
<div class="email_previews" data-rendered-json="{{rendered_json}}">

</div>

<noscript>
{{#rendered}}
<h2>To: {{to}}</h2>

{{^empty}}
<div class="email_preview">
{{{body_html}}}
</div>

<div class="plaintext_preview">
{{mail_text}}
</div>
{{/empty}}
{{#empty}}
Keine Probleme - daher wird auch keine E-Mail verschickt.
{{/empty}}

{{/rendered}}
</noscript>

{{#enable_sendnow_form}}
<form method="post" action="{{root_path}}s/{{#season}}{{key}}{{/season}}/send" style="margin-top: 2em">
{{{csrf_field}}}
<input type="hidden" name="message" value="{{message}}" />
<button role="submit">E-Mails senden</button>
</form>
{{/enable_sendnow_form}}
