{{#message_top}}
<p style="white-space: pre-wrap;">{{message_top}}</p>
{{/message_top}}

{{>problems_maillist}}

<p style="color: #333;">turnier.de-Report {{#receiver}}{{>report_receiver}}{{/receiver}}
{{#season}}{{name}}, Stand {{#newest_download}}{{#format_timestamp}}{{done_timestamp}}{{/format_timestamp}}{{/newest_download}}{{/season}}.<br />
{{#message_bottom}}{{message_bottom}}<br/>
{{/message_bottom}}

Darstellungsprobleme, Fehler und Verbesserungsvorschläge können gerne bei <a href="mailto:philipp.hagemeister@badminton-nrw.de?subject=Feedback%20turnier.de-Report">Philipp Hagemeister</a> gemeldet werden.</p>
