{{#message_top}}{{message_top}}

{{/message_top}}{{>plaintext_problems}}

turnier.de-Report {{#receiver}}{{>report_receiver}}{{/receiver}}, {{#season}}{{name}}, Stand {{#newest_download}}{{#format_timestamp}}{{done_timestamp}}{{/format_timestamp}}{{/newest_download}}{{/season}}.
{{#message_bottom}}{{message_bottom}}
{{/message_bottom}}Darstellungsprobleme, Fehler und Verbesserungsvorschläge können gerne bei philipp.hagemeister@badminton-nrw.de gemeldet werden.
