{{#message_top}}{{message_top}}

{{/message_top}}{{>plaintext_problems}}

{{#receiver}}
Kroton-Report {{#region_filter}}für Bezirk {{region_filter}},{{/region_filter}}{{#stb_filter}}für StB {{stb_filter}}{{/stb_filter}}{{#regions_filter_present}}für Bezirkswart von |{{#regions_filter}}{{.}}|{{/regions_filter}} {{#u19o19}}(nur {{u19o19}}){{/u19o19}}{{/regions_filter_present}}{{^region_filter}}{{^regions_filter_present}}{{^stb_filter}}(alle Bezirke),{{/stb_filter}}{{/regions_filter_present}}{{/region_filter}}.{{/receiver}}
{{#season}}{{name}}, Stand {{#newest_download}}{{#format_timestamp}}{{done_timestamp}}{{/format_timestamp}}{{/newest_download}}{{/season}}.
{{#message_bottom}}{{message_bottom}}
{{/message_bottom}}Darstellungsprobleme, Fehler und Verbesserungsvorschläge können gerne bei philipp.hagemeister@badminton-nrw.de gemeldet werden.
