{{#colors}}
{{#regions}}
{{name}}

{{#groups}}
{{header}}{{#teammatch}}{{#hrt}}{{team2name}} - {{team1name}}{{/hrt}}{{^hrt}}{{team1name}} - {{team2name}}{{/hrt}} {{#ergebnisbestaetigt_datum}}(bestätigt){{/ergebnisbestaetigt_datum}}{{/teammatch}}
{{turnier_url}}

{{#problems}}{{#turnier2_url}}{{turnier2_url}}
{{/turnier2_url}}{{#match}}{{match_name}}:{{/match}}{{message}}
{{/problems}}
{{#stb}}StB {{firstname}} {{lastname}}, {{email}}{{/stb}}


{{/groups}}
{{/regions}}
{{/colors}}
