<div class="problems_list">
{{#problems}}
<a class="problem" href="{{turnier_url}}">
<div class="problem_header">{{header}}{{#teammatch}}
{{#hrt}}{{team2name}} - {{team1name}} [HRT]{{/hrt}}{{^hrt}}{{team1name}} - {{team2name}}{{/hrt}} ({{teammatch_id}})
{{#ergebnisbestaetigt_datum}}(bestätigt){{/ergebnisbestaetigt_datum}}
{{/teammatch}}
</div>
{{#stb}}
<div>{{#teammatch}}{{spieldatum}}{{/teammatch}}, StB {{firstname}} {{lastname}}</div>
{{/stb}}


{{#match}}
<div>{{match_name}} ({{match_id}})</div>
{{/match}}

<div class="problem_message">{{message}}</div>
</a>

{{/problems}}
</div>