<div class="problems_list">
{{#problems}}
<p class="problem">
<strong>{{#teammatch}}
{{team1name}} - {{team2name}} ({{teammatch_id}})
{{#ergebnisbestaetigt_user}}(bestätigt){{/ergebnisbestaetigt_user}}
{{/teammatch}}</strong><br/>
<a href="{{turnier_url}}">{{turnier_url}}</a><br/>

{{#match}}
{{match_name}} ({{match_id}})<br/>
{{/match}}
{{message}}
</p>

{{/problems}}
</div>