<div class="problems_list">
{{#problems}}
<p class="problem">

<div><strong>{{#teammatch}}
{{team1name}} - {{team2name}} ({{teammatch_id}})
{{#ergebnisbestaetigt_user}}(bestätigt){{/ergebnisbestaetigt_user}}
{{/teammatch}}</strong></div>

<div><a href="{{turnier_url}}">{{turnier_url}}</a></div>

{{#match}}
<div>{{match_name}} ({{match_id}})</div>
{{/match}}

<div class="problem_message">{{message}}</div>

</p>
<br/>

{{/problems}}
</div>