<a href="mailto:{{email}}">{{email}}</a>
{{#mtype_is_buli_sr}}Bundesliga-Schiedsrichter-Report{{/mtype_is_buli_sr}}{{^mtype_is_buli_sr}}{{#region_filter}}Bezirk: <span class="receiver_filter">{{region_filter}}</span>{{/region_filter}}
{{#stb_filter}}StB: <span class="receiver_filter">{{stb_filter}}</span>{{/stb_filter}}
{{^region_filter}}{{^stb_filter}}Alle Meldungen{{/stb_filter}}{{/region_filter}}{{/mtype_is_buli_sr}}