<form method="post" action="{{{root_path}}}season_add" class="season_add_dialog">
{{{csrf_field}}}
<label>
<span>URL:</span><input name="url" type="text" size="90" placeholder="http://turnier.de/sport/..." value="" required="required" />
</label>

<label>
<span>Name:</span><input name="name" type="text" size="20" value="" required="required" /> 
</label>

<label>
<span>Key:</span><input name="season_key" type="text" size="10" pattern="^[a-z0-9]+$" value="" required="required" /> 
</label>


<button role="submit">Liga hinzufügen</button>
</form>
