{{#season}}
<h1>{{name}}</h1>

{{#newest_download}}
Stand: {{#format_timestamp}}{{done_timestamp}}{{/format_timestamp}} <button class="analyze-button" role="button" data-season_key="{{key}}">Untersuchen</button>
{{/newest_download}}

{{#downloads_inprogress}}
<div class="download">Läuft seit {{#format_timestamp}}{{started_timestamp}}{{/format_timestamp}}</div>
{{/downloads_inprogress}}

<button class="download_button" role="button" data-season_key="{{key}}">Download starten</button>

{{/season}}