{{#season}}
<h1>{{name}}</h1>

{{#newest_download}}
<form method="post" action="{{root_path}}s/{{key}}/recheck">
{{{csrf_field}}}
Stand: {{#format_timestamp}}{{done_timestamp}}{{/format_timestamp}} <button class="analyze-button" role="submit" data-season_key="{{key}}">Untersuchen</button>
</form>
{{/newest_download}}

{{#downloads_inprogress}}
<div class="download">Läuft seit {{#format_timestamp}}{{started_timestamp}}{{/format_timestamp}}</div>
{{/downloads_inprogress}}

<button class="download_button" role="button" data-season_key="{{key}}">Download starten</button>


{{>problems_list}}

<a href="{{root_path}}s/{{key}}/problems">Nur Probleme</a>

{{/season}}