<form method="post" action="{{{root_path}}}user/create">
{{{csrf_field}}}
<label><span>E-Mail:</span><input type="email" name="email" required="required" /></label>
<button role="submit">Benutzer erstellen</button>
</form>
